/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

#define AS(keycode) &as LS(keycode) keycode
#define TM(layer, keycode) &tm layer keycode


/ {
        behaviors {
            as: auto_shift {
                compatible = "zmk,behavior-hold-tap";
                label = "AUTO_SHIFT";
                #binding-cells = <2>;
                tapping-term-ms = <200>;
                quick-tap-ms = <195>;
                flavor = "tap-preferred";
                bindings = <&kp>, <&kp>;
            };
            tm: thumb_mod {
                compatible = "zmk,behavior-hold-tap";
                label = "THUMB_LAYER_TAB";
                #binding-cells = <2>;
                flavor = "tap-preferred";
                tapping-term-ms = <200>;
                quick-tap-ms = <195>;
                flavor = "tap-preferred";
                bindings = <&mo>, <&kp>;
            };
        };


    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ------------------------------------------------------------------------------------------------------------
// |   `   |  1  |  2  |  3   |  4   |  5          |                             |  6          |  7    |  8    |  9   |   0   |   -   |
// |  TAB  |  Q  |  W  |  F   |  P   |  G          |                             |  J          |  L    |  U    |  Y   |   ;   |   =   |
// |  CTRL |  A  |  R  |  S   |  T   |  D          |                             |  H          |  N    |  E    |  I   |   O   |   '   |
// | SHIFT |  Z  |  X  |  C   |  V   |  B          |  "["        |  |  "]"       |  K          |  M    |  ,    |  .   |   /   |   \   |
//                     | ALT  | GUI  | SPACE/LOWER | ENTER/RAISE |  | BSPC/RAISE | SPACE/LOWER | ALTGR | GUI   |
            bindings = <
AS(GRAVE) AS(N1)  AS(N2)  AS(N3)    AS(N4)    AS(N5)                                 AS(N6)        AS(N7)    AS(N8)    AS(N9)  AS(N0)    AS(MINUS)
&kp TAB   AS(Q)   AS(W)   AS(F)     AS(P)     AS(G)                                  AS(J)         AS(L)     AS(U)     AS(Y)   AS(SEMI)  AS(EQUAL)
&kp LCTRL AS(A)   AS(R)   AS(S)     AS(T)     AS(D)                                  AS(H)         AS(N)     AS(E)     AS(I)   AS(O)     AS(SQT)
&kp LSHFT AS(Z)   AS(X)   AS(C)     AS(V)     AS(B)       AS(LBKT)     AS(RBKT)      AS(K)         AS(M)     AS(COMMA) AS(DOT) AS(FSLH)  AS(BSLH)
                          &kp LALT  &kp LGUI  TM(2,SPACE) TM(1,ENTER)  TM(1,BSPC)    TM(2,SPACE)   &kp RALT  &kp RGUI
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
// ------------------------------------------------------------------------------------------------------------
// | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
// |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
// |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
// |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
//                     |      |      |      |        |  |       |      |       |       |
            bindings = <
&bt BT_CLR &bt BT_SEL 0     &bt BT_SEL 1      &bt BT_SEL 2      &bt BT_SEL 3 &bt BT_SEL 4                 &trans    &trans    &trans          &trans    &trans    &trans
&kp F1     &kp F2           &kp F3            &kp F4            &kp F5       &kp F6                       &kp F7    &kp F8    &kp F9          &kp F10   &kp F11   &kp F12
&kp GRAVE  &kp EXCL         &kp AT            &kp HASH          &kp DOLLAR   &kp PRCNT                    &kp CARET &kp AMPS  &kp STAR         &kp LPAR  &kp RPAR  &kp TILDE
&trans     &ext_power EP_ON &ext_power EP_OFF &ext_power EP_TOG &trans       &trans    &trans   &trans    &trans    &kp MINUS &kp PLUS        &kp LBRC  &kp RBRC  &kp PIPE
                                              &trans            &trans       &trans    &trans   &trans    &trans    &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
// ------------------------------------------------------------------------------------------------------------
// |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |   F8  |  F9   |  F10 |  F11  |  F12  |
// |       |     |     |      |      |      |                   |      | WORDL | PGDWN | PGUP | WORDR |       |
// |       |     |     |      |      |      |                   | ESC  |   <-  |   v   |  ^   |  ->   | DEL   |
// |       |     |     |      |      |      |        |  |       |      | HOME  | BOTTOM| TOP  |  END  |       |
//                     |      |      |      |        |  |       |      |       |       |
            bindings = <
&kp F1    &kp F2 &kp F3 &kp F4  &kp F5  &kp F6                    &kp F7      &kp F8       &kp F9      &kp F10      &kp F11       &kp F12
&trans    &trans &trans &trans  &trans  &trans                    &trans      &kp LC(LEFT) &kp PG_UP   &kp PG_DN    &kp LC(RIGHT) &trans
&trans    &trans &trans &trans  &trans  &trans                    &kp ESC     &kp LEFT     &kp DOWN    &kp UP       &kp RIGHT     &kp DEL
&trans    &trans &trans &trans  &trans  &trans  &trans   &trans   &trans      &kp HOME     &kp LC(END) &kp LC(HOME) &kp END       &trans
                        &trans  &trans  &trans  &trans   &trans   &trans      &trans       &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
